html,body{
    width: 100%;
    height: 100%;
}
*{
    margin: 0;
    padding: 0
}
.clearfixed::after{
     clear: both;
     content: '';
     display: block
}
a{
    text-decoration: none;
    color: black
}
li{
    list-style: none;
}
.font-space{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}